@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.custom-toast {
  background-color: #111;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
}

.custom-toast-body {
  font-weight: 500;
}